<form
  accept-charset="UTF-8"
  action="https://somlor.wufoo.com/forms/z1sm0ne11t6m2fw/#public"
  class="contact"
  enctype="multipart/form-data"
  id="contact-form"
  method="post"
  name="contact-form"
  novalidate>
  <div class="flex">
    <div>
      <label for="Field3">Your Name</label>
      <input
        id="Field3"
        placeholder="Your Name"
        name="Field3"
        type="text"
        value=""
        maxlength="255"
        tabindex="1"
        onkeyup=""
        required>
      <label for="Field4">Your Email</label>
      <input
        id="Field4"
        placeholder="Your Email"
        name="Field4"
        type="email"
        spellcheck="false"
        value=""
        maxlength="255"
        tabindex="2"
        required>
      <label for="Field6">Your Phone Number (optional)</label>
      <input
        id="Field6"
        placeholder="Your Phone Number (optional)"
        name="Field6"
        tabindex="3"
        type="tel"
        maxlength="255"
        value="">
    </div>
    <div>
      <label for="Field5">Your Message</label>
      <textarea
        id="Field5"
        placeholder="Your Message"
        name="Field5"
        spellcheck="true"
        rows="10" cols="50"
        tabindex="4"
        onkeyup=""
        required></textarea>
    </div>
  </div>
  <input
    type="hidden"
    id="idstamp"
    name="idstamp"
    value="Y5R7YZ3hKc1o7J7kB0Gngu6Ss3rBdYooAe1JO0U0/1Y=">
  <input
    id="saveForm"
    name="saveForm"
    class="btTxt submit"
    type="submit"
    value="Send Email">
  <p class="small">
    <em>Or via email: somlor [at] gmail.com</em>
  </p>
</form>
