---
title: 'Sean Omlor'
---
# Hello, my name is Sean. I'm a senior Elixir and JavaScript web developer.

## Browse my work below, check out my [resume](/resume), and [contact me](#contact-me).

> ![neal](/images/avatar-neel-palrecha.jpg)
>
> "Sean is a rare breed, an extremely gifted thinker and doer. Sean is able to learn new languages and technologies faster than most. It's rare to come accross such a talented and genuine person, and I would welcome the opportunity to work with Sean again."
>
> **Neel Palrecha**, VP of Engineering PlayVS {.testimonial}

> ![neal](/images/avatar-christopher-jereb.jpg)
>
> "Armed with only summary level requirements, Sean built or improved every major component of our app platform (e.g. Rails, PostgreSQL, Solr/Lucene, including social login, UGC & discovery, APIs, unit testing, dashboards and reporting, etc.). His contributions and our ROI can only be described as immense."
>
> **Christopher Jereb**, CEO and Founder Appgravity {.testimonial}

### Summary

I am a web developer with nearly twenty years of professional experience. My current focus is building functional web applications with [Elixir](https://elixir-lang.org) on [Phoenix](https://phoenixframework.org)[^previously] and [React](https://reactjs.org)[^react].

[^previously]:
    Previously I worked for several years as a senior [Ruby](https://www.ruby-lang.org/en) on [Rails](https://rubyonrails.org) developer. I switched to Elixir full-time in 2016.

[^react]:
    React with [Redux](https://redux.js.org), [Apollo](https://www.apollographql.com) or [re-frame](https://github.com/Day8/re-frame) for state management.

[See my full resume →](/resume)

### Technical Skills

My technical skills include:

  - Elixir, Phoenix, Ecto, (also Ruby, Ruby on Rails, Sinatra, RSpec)
  - JavaScript, React.js, Redux, Ember.js, Backbone.js, jQuery, Jasmine
  - Webpack, Gulp[^gulp], npm, yarn
  - SQL [ PostgreSQL, MySQL, SQLite ], Elasticsearch, Solr
  - HTML/5, CSS/3, Sass, Responsive Design
  - Linux, nginx, Apache, Heroku, Vagrant, Ansible
  - Git, GitHub, Bitbucket, JIRA, Pivotal Tracker

[^gulp]:
    This site is built with [Gulp and Webpack](https://github.com/seanomlor/www.seanomlor.com). 🙂

### About Me

Aside from programming, some other interests include meditation[^meditation], martial arts[^martial], and weird horror[^horror].

[^meditation]:
    I'm currently convinced ["The Mind Illuminated"](https://www.amazon.com/Mind-Illuminated-Meditation-Integrating-Mindfulness/dp/1501156985) is the best book on meditation I've ever read. An incredible gem.

[^martial]:
    Mostly [Brazilian jiu-jitsu](https://en.wikipedia.org/wiki/Brazilian_jiu-jitsu), [Judo](https://en.wikipedia.org/wiki/Judo) and [Muay Thai](https://en.wikipedia.org/wiki/Muay_Thai). I also find [Baguazhang](https://en.wikipedia.org/wiki/Baguazhang) intriguing, though more for its somatic novelty and contemplative roots than fighting application.

[^horror]:
    Horror in film most obviously, but also graphic novels, music and even [political theory](http://www.redwedgemagazine.com/evicted-art-blog/a-thousand-lost-worlds-notes-on-gothic-marxism).

### Contact me

Sorry, I am currently unavailable for hire. Feel free to contact me anyway, will do my best to help point you in the right direction.

{% include "src/templates/contact.njk" %}
