---
title: 'Sean Omlor'
---
# Hello, my name is Sean. I'm a senior Elixir and JavaScript web developer.[^me]

[^me]:
    ![sean](/images/havana-espresso.jpg)

    👋 Here's a recent photo of me, looking very ready for coffee at [Café Arcángel](http://cafearcangel.com/index.html) in [Havana, Cuba](https://en.wikipedia.org/wiki/Havana).

Thanks for visiting my site. You can read my summary bio below, a more detailed [about me](/about), check out my [latest resume](/resume), and [connect with me](#contact).

### 10-Second Summary

I am a web developer with nearly twenty years of professional experience. My current technical focus is on building functional web applications with [Elixir](https://elixir-lang.org), [Phoenix](https://phoenixframework.org)[^previously] and [React.js](https://reactjs.org)[^react].

[^previously]:
    Previously I worked for several years as a senior [Ruby](https://www.ruby-lang.org/en) on [Rails](https://rubyonrails.org) developer. I switched to Elixir full-time in 2016.

[^react]:
    React with [Redux](https://redux.js.org), [Apollo](https://www.apollographql.com) or [re-frame](https://github.com/Day8/re-frame) for state management.

> ![neal](/images/avatar-neel-palrecha.jpg)
>
> "Sean is a rare breed, an extremely gifted thinker and doer. Sean is able to learn new languages and technologies faster than most. It's rare to come accross such a talented and genuine person, and I would welcome the opportunity to work with Sean again."
>
> **Neel Palrecha**, VP of Engineering PlayVS {.testimonial}

### Technical Skills

My technical skills include:

  - Elixir, Phoenix, Ecto, (also Ruby, Ruby on Rails, Sinatra, RSpec)
  - JavaScript, React.js, Redux, Ember.js, Backbone.js, jQuery, Jasmine
  - Webpack, Gulp[^gulp], npm, yarn
  - SQL [ PostgreSQL[^postgresql], MySQL, SQLite ], Elasticsearch, Solr
  - HTML/5, CSS/3, Sass, Responsive Design
  - Linux, NixOS, nginx, Apache, Heroku, Vagrant, Ansible
  - Git, GitHub, Bitbucket, JIRA, Pivotal Tracker

[^postgresql]:
    Similar to the number [42](https://en.wikipedia.org/wiki/42_(number)#The_Hitchhiker's_Guide_to_the_Galaxy), I believe PostgreSQL is the answer to nearly all questions.

[^gulp]:
    This site is built with Gulp and Webpack 🙂. Check out the [source code](https://github.com/seanomlor/www.seanomlor.com).

> ![neal](/images/avatar-christopher-jereb.jpg)
>
> "Armed with only summary level requirements, Sean built or improved every major component of our app platform (e.g. Rails, PostgreSQL, Solr/Lucene, including social login, UGC & discovery, APIs, unit testing, dashboards and reporting, etc.). His contributions and our ROI can only be described as immense."
>
> **Christopher Jereb**, CEO and Founder Appgravity {.testimonial}

### About Me IRL

Aside from programming, some other interests include meditation[^meditation], martial arts[^martial], and weird horror[^horror].

[^meditation]:
    I'm currently convinced ["The Mind Illuminated"](https://www.amazon.com/Mind-Illuminated-Meditation-Integrating-Mindfulness/dp/1501156985) is the best book on meditation I've ever read. An incredible gem.

[^martial]:
    Mostly [Brazilian jiu-jitsu](https://en.wikipedia.org/wiki/Brazilian_jiu-jitsu), [Judo](https://en.wikipedia.org/wiki/Judo) and [Muay Thai](https://en.wikipedia.org/wiki/Muay_Thai). I also find [Baguazhang](https://en.wikipedia.org/wiki/Baguazhang) intriguing, though more for its somatic novelty and contemplative roots than fighting application.

[^horror]:
    Horror in film most obviously, but also graphic novels, music and even [political theory](http://www.redwedgemagazine.com/evicted-art-blog/a-thousand-lost-worlds-notes-on-gothic-marxism).


### Connect With Me { #contact }

I am currently unavailable for hire. Feel free to contact me anyway. I'll do my best to help point you in the right direction.

{% include "src/templates/contact.njk" %}
