$color-black: #333;
$color-white: #fffefd;
// $color-white: #fffff8;
$color-grey: #6c6c6c;
$color-light: #afafba;
$color-blue: #109cd9;
$color-highlight: #fcfaf5;
$grid-column-aside: 300;
$grid-gap: 10;
$sidenotes-max-width: 1420px;

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Regular.eot');
  src: url('/fonts/Lora-Regular.eot') format('embedded-opentype'),
    url('/fonts/Lora-Regular.woff2') format('woff2'),
    url('/fonts/Lora-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Italic.eot');
  src: url('/fonts/Lora-Italic.eot') format('embedded-opentype'),
    url('/fonts/Lora-Italic.woff2') format('woff2'),
    url('/fonts/Lora-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Medium.eot');
  src: url('/fonts/Lora-Medium.eot') format('embedded-opentype'),
    url('/fonts/Lora-Medium.woff2') format('woff2'),
    url('/fonts/Lora-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-MediumItalic.eot');
  src: url('/fonts/Lora-MediumItalic.eot') format('embedded-opentype'),
    url('/fonts/Lora-MediumItalic.woff2') format('woff2'),
    url('/fonts/Lora-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Bold.eot');
  src: url('/fonts/Lora-Bold.eot') format('embedded-opentype'),
    url('/fonts/Lora-Bold.woff2') format('woff2'),
    url('/fonts/Lora-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-BoldItalic.eot');
  src: url('/fonts/Lora-BoldItalic.eot') format('embedded-opentype'),
    url('/fonts/Lora-BoldItalic.woff2') format('woff2'),
    url('/fonts/Lora-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

body {
  background-color: $color-white;
  border-radius: 3px;
  color: $color-black;
  display: grid;
  font-family: 'Lora', serif;
  font-feature-settings: 'liga', 'clig';
  font-size: 1.15em;
  font-weight: 400;
  grid-gap: #{$grid-gap}px;
  grid-template-areas: 'header header header' 'aside-left content aside-right' 'footer footer footer';
  grid-template-columns: #{$grid-column-aside}px 1fr #{$grid-column-aside}px;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  line-height: 1.75em;
  margin: 0 auto;
  max-width: 1390px;
  padding: 15px;
  text-shadow: 0 0 1px transparentize($color-grey, 0.8);
}

h1 {
  font-size: 1.75em;
  line-height: 1.35em;
  font-weight: 400;

  &.title {
    border-bottom: 3px solid;
    display: inline-block;
  }
}

h2 {
  font-size: 1.1em;
  line-height: 1.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.15em;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
}

header[role='banner'],
main[role='main'],
footer[role='contentinfo'] {
  position: relative;
  max-width: 770px;
  width: 100%;
}

header[role='banner'],
footer[role='contentinfo'] {
  margin-left: #{$grid-column-aside + $grid-gap}px;
}

header[role='banner'] {
  grid-area: header;
  border-bottom: 1px solid $color-grey;
  padding-bottom: 10px;
  padding-top: 20px;

  .logo {
    font-size: 1.65rem;
    margin-bottom: 10px;

    a {
      border-bottom: none;

      &:hover {
        border-bottom: 2px solid;
      }
    }
  }

  nav a {
    color: $color-black;
    border-bottom: none;
    margin-right: 6px;

    &:hover {
      border-bottom: 2px solid;
    }
  }
}

main[role='main'] {
  grid-area: content;
}

aside#left,
aside#right {
  position: relative;
}

aside#left {
  grid-area: aside-left;
  margin-right: 0.5rem;
}

aside#right {
  grid-area: aside-right;
  margin-left: 0.5rem;
}

footer[role='contentinfo'] {
  grid-area: footer;
  border-top: 1px solid $color-grey;
  color: $color-grey;
  font-weight: 300;
  padding-bottom: 20px;
  text-align: right;

  a {
    border-bottom: 1px dotted $color-grey;
    color: $color-grey;

    &:hover {
      border-bottom: 2px solid;
    }
  }
}

a {
  border-bottom: 1px dotted $color-blue;
  color: $color-blue;
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid $color-blue;
  }
}

.footnote-ref a {
  background: none;
  border-bottom: none;
  margin-left: 2px;
  text-decoration: none;

  &.hover,
  &:hover {
    border-bottom: 2px solid;
  }
}

hr.footnotes-sep {
  border: 0;
  border-bottom: 1px solid $color-grey;
}

img.avatar {
  border-radius: 55px;
  float: right;
  height: 110px;
  opacity: 0.9;
  width: 110px;
}

#sidenotes-left,
#sidenotes-right {
  display: block;
  font-size: 1rem;
  font-weight: 300;
}

#sidenotes-left .sidenote-number {
  float: right;
}

#sidenotes-right .sidenote-number {
  float: left;
}

.sidenote {
  opacity: 0.75;
  position: absolute;

  &.hover,
  &:hover {
    opacity: 1;

    .sidenote-content {
      background-color: $color-highlight;
    }
  }

  a {
    border-bottom: 1px dotted $color-black;
    color: $color-black;

    &:hover {
      border-bottom: 2px solid;
    }
  }

  .sidenote-content {
    border-color: $color-light;
    border-style: solid;
    border-width: 1px 0;
    clear: both;
    padding: 10px;
    margin-bottom: 20px;

    a.footnote-backref {
      display: none;
    }

    p:first-child {
      margin-top: 0px;
    }

    p:last-child {
      margin-bottom: 0px;
    }
  }
}

@media (max-width: $sidenotes-max-width) {
  body {
    grid-template-areas:
      'header'
      'content'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows:
      auto
      1fr
      auto;
  }

  header[role='banner'],
  main[role='main'],
  footer[role='contentinfo'] {
    margin: 0 auto;
  }

  header[role='banner'],
  footer[role='contentinfo'] {
    padding-left: 0;
  }

  aside#left,
  aside#right {
    display: none;
  }
}

// font-features-settings for Lora font
// see: https://beautifulwebtype.com/lora

.frac {
  font-feature-settings: 'frac';
}

.sup {
  font-feature-settings: 'sups';
}

.ordn {
  font-feature-settings: 'ordn';
}
