$color-black: #333;
$color-blue: #109cd9;
$color-grey: #6c6c6c;
$color-highlight: #fcfaf5;
$color-light: #afafba;
$color-red: #d12812;
$color-white: #fffefd;
$grid-column-aside: 280;
$grid-gap: 10;
$max-width: 1260px;

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Regular.eot');
  src: url('/fonts/Lora-Regular.eot') format('embedded-opentype'),
    url('/fonts/Lora-Regular.woff2') format('woff2'),
    url('/fonts/Lora-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Italic.eot');
  src: url('/fonts/Lora-Italic.eot') format('embedded-opentype'),
    url('/fonts/Lora-Italic.woff2') format('woff2'),
    url('/fonts/Lora-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Medium.eot');
  src: url('/fonts/Lora-Medium.eot') format('embedded-opentype'),
    url('/fonts/Lora-Medium.woff2') format('woff2'),
    url('/fonts/Lora-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-MediumItalic.eot');
  src: url('/fonts/Lora-MediumItalic.eot') format('embedded-opentype'),
    url('/fonts/Lora-MediumItalic.woff2') format('woff2'),
    url('/fonts/Lora-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Bold.eot');
  src: url('/fonts/Lora-Bold.eot') format('embedded-opentype'),
    url('/fonts/Lora-Bold.woff2') format('woff2'),
    url('/fonts/Lora-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-BoldItalic.eot');
  src: url('/fonts/Lora-BoldItalic.eot') format('embedded-opentype'),
    url('/fonts/Lora-BoldItalic.woff2') format('woff2'),
    url('/fonts/Lora-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

body {
  background-color: $color-white;
  border-radius: 3px;
  color: $color-black;
  display: grid;
  font-family: 'Lora', serif;
  font-feature-settings: 'liga', 'clig';
  font-size: 1.15em;
  font-weight: 400;
  grid-gap: #{$grid-gap}px;
  grid-template-areas:
    'header header header'
    'aside-left content aside-right'
    'footer footer footer';
  grid-template-columns: #{$grid-column-aside}px 1fr #{$grid-column-aside}px;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  line-height: 1.75em;
  margin: 0 auto;
  max-width: $max-width;
  padding: 15px;
  text-shadow: 0 0 1px transparentize($color-grey, 0.8);
}

h1 {
  font-size: 1.75em;
  line-height: 1.35em;
  font-weight: 400;

  &.title {
    border-bottom: 3px solid;
    display: inline-block;
  }

  i {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.1em;
  line-height: 1.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.15em;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 3px solid;
}

h1,
h2,
h3 {
  a {
    color: $color-black;
    border-bottom: 1px dotted $color-black;

    &:hover {
      border-bottom: 2px solid $color-black;
    }
  }
}

a {
  border-bottom: 1px dotted $color-blue;
  color: $color-blue;
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid $color-blue;
  }
}

a[href$='jpg'],
a[href$='png'],
a[href$='gif'] {
  border-bottom: none !important;

  &:hover {
    border-bottom: none;
  }
}

figure {
  margin: 0;
}

header[role='banner'],
main[role='main'],
footer[role='contentinfo'] {
  position: relative;
  max-width: 680px;
  width: 100%;
}

header[role='banner'],
footer[role='contentinfo'] {
  margin-left: #{$grid-column-aside + $grid-gap}px;
}

header[role='banner'] {
  grid-area: header;
  border-bottom: 1px solid $color-grey;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 20px;

  .logo {
    font-size: 1.65rem;
    float: left;

    a {
      border-bottom: none;

      &:hover {
        border-bottom: 2px solid;
      }
    }
  }

  .social {
    float: right;
    font-size: 1.25rem;

    a {
      border-bottom: none;
      color: $color-black;
      opacity: 0.65;
      margin-left: 6px;

      &:hover {
        opacity: 1;
      }
    }
  }

  nav {
    clear: both;

    span {
      border-bottom: 1px solid $color-grey;
      display: inline-block;
      margin-right: 6px;
    }

    a {
      color: $color-black;
      border-bottom: none;
      margin-right: 6px;

      &:hover {
        border-bottom: 2px solid;
      }
    }
  }
}

main[role='main'] {
  grid-area: content;

  h1,
  h2,
  h3,
  p {
    &:first-child {
      padding-top: 0;
      margin-top: 0;
    }
  }

  img {
    border-radius: 3px;

    &.center {
      width: 100%;
    }

    &.left {
      float: left;
      margin-right: 15px;
    }

    &.right {
      float: right;
      margin-left: 15px;
    }
  }

  .footnotes {
    .footnote-item {
      clear: both;
    }

    figure + p {
      margin-top: 0;
    }

    figure {
      img {
        max-width: 100%;
      }

      &:hover:before {
        cursor: pointer;
      }

      &::before {
        content: '\f03e';
        font-family: 'Font Awesome 5 Free';
        font-size: 1.5rem;
      }

      > a:first-child,
      > img:first-child {
        display: none;
        &.show {
          display: block;
        }
      }
    }
  }
}

aside#left,
aside#right {
  position: relative;

  img {
    width: 100%;
    border-radius: 3px;
  }
}

aside#left {
  grid-area: aside-left;
  margin-right: 0.5rem;
}

aside#right {
  grid-area: aside-right;
  margin-left: 0.5rem;
}

footer[role='contentinfo'] {
  border-top: 1px solid $color-grey;
  color: $color-grey;
  font-size: 1rem;
  font-weight: 300;
  grid-area: footer;
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: right;

  a {
    border-bottom: 1px dotted $color-grey;
    color: $color-grey;

    &:hover {
      border-bottom: 2px solid;
    }
  }

  .page-meta {
    float: left;
  }
}

.footnote-ref a {
  background: none;
  border-bottom: none;
  margin-left: 2px;
  text-decoration: none;

  &.hover,
  &:hover {
    border-bottom: 2px solid;
  }
}

hr.footnotes-sep {
  border: 0;
  border-bottom: 1px solid $color-grey;
}

img.avatar {
  border-radius: 75px;
  float: right;
  height: 150px;
  opacity: 0.9;
  width: 150px;
}

#sidenotes-left,
#sidenotes-right {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  clear: both;
  min-height: 100%;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;

  &.show {
    opacity: 1;
  }

  code {
    font-size: inherit;
  }
}

#sidenotes-left {
  .sidenote {
    right: 0;
  }

  .sidenote-number {
    float: right;
  }
}

#sidenotes-right {
  .sidenote {
    left: 0;
  }

  .sidenote-number {
    float: left;
  }
}

.sidenote {
  filter: saturate(0);
  opacity: 0.65;
  position: absolute;
  transition: filter 0.15s ease-in-out, opacity 0.15s ease-in-out,
    top 0.05s ease-in-out;

  &.hover,
  &:hover {
    filter: saturate(1);
    opacity: 1;

    .sidenote-content {
      background-color: $color-highlight;
    }
  }

  a {
    border-bottom: 1px dotted $color-black;
    color: $color-black;

    &:hover {
      border-bottom: 2px solid;
    }
  }

  .sidenote-content {
    border-color: $color-light;
    border-style: solid;
    border-width: 1px 0;
    clear: both;
    margin-bottom: 20px;
    padding: 10px;

    a.footnote-backref {
      display: none;
    }

    p:first-child {
      margin-top: 0px;
    }

    p:last-child {
      margin-bottom: 0px;
    }
  }
}

@media (max-width: $max-width + 20) {
  body {
    grid-template-areas:
      'header'
      'content'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows:
      auto
      1fr
      auto;
  }

  header[role='banner'],
  main[role='main'],
  footer[role='contentinfo'] {
    margin: 0 auto 10px;
  }

  header[role='banner'],
  footer[role='contentinfo'] {
    padding-left: 0;
  }

  aside#left,
  aside#right {
    display: none;
  }
}

// font-features-settings for Lora font
// see: https://beautifulwebtype.com/lora

.frac {
  font-feature-settings: 'frac';
}

.sup {
  font-feature-settings: 'sups';
}

.ordn {
  font-feature-settings: 'ordn';
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

input,
textarea {
  border-radius: 2px;
  border: 1px solid $color-grey;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 10px;
}

input[type='submit'] {
  background: $color-red;
  border: none;
  color: $color-white;
  display: block;
  margin: 10px auto;
  padding: 12px 25px;
  width: inherit;

  &:hover {
    cursor: pointer;
    background: darken($color-red, 5%);
  }
}

h1.resume {
  margin: 0;
  padding: 0;
}

h2.resume {
  margin: 0;
  padding: 0;
}

p.resume {
  color: $color-red;
  margin-top: 0;
  padding-top: 0;
}

.testimonial {
  background-color: $color-highlight;
  border: 1px dotted $color-light;
  border-radius: 3px;
  display: grid;
  grid-gap: 15px;
  grid-template-areas:
    't_avatar t_content'
    't_author t_author';
  margin: 10px 0;
  padding: 20px;

  figure:first-child {
    grid-area: t_avatar;

    img {
      border-radius: 100%;
      width: 120px;
    }
  }

  p {
    margin: 0;

    &:first-child {
      grid-area: t_content;
    }

    &:last-child {
      grid-area: t_author;
      text-align: right;
    }
  }
}

.contact {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'c_info c_message'
    'c_send c_send';

  .contact--info {
    grid-area: c_info;

    input {
      width: 100%;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .contact--message {
    grid-area: c_message;

    textarea {
      width: 100%;
      height: 100%;
    }
  }

  .contact--send {
    grid-area: c_send;
  }
}

@media (max-width: 690px) {
  body {
    font-size: 1em;
  }

  footer[role='contentinfo'] {
    font-size: 0.85rem;
    text-align: left;
    .page-meta {
      float: none;
    }
  }

  .contact {
    grid-template-areas:
      'c_info c_info'
      'c_message c_message'
      'c_send c_send';

    input,
    textarea {
      font-size: 0.85rem;
    }
  }

  .testimonial {
    grid-template-areas:
      't_avatar t_avatar'
      't_content t_content'
      't_author t_author';

    figure:first-child {
      text-align: center;
      img {
        border: 1px solid $color-black;
      }
    }
  }
}
